<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <fieldset>
            <legend>
                Details of Aditi 
            </legend>
        <table>
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    <input type="text" name="" placeholder="your name">
                </td>
            <tr>
                <td>
                        MALE <input type="radio" name="gender">
                        Female <input type="radio" name="gender">
                </td>
            </tr>
            <tr>
                 <td>
                     email:<text-align:center>
                </td>
                <td>
                    <input type="email" name="" placeholder="your Email">
                </td>
            </tr>
            <tr>
                <td>
                    password:
                </td>
                <td>
                    <input type="password" name="" placeholder="Password">
                </td>
            </tr>
            <tr>
                <td>
                    <p>address: <textarea name="address"></textarea></p>
                </td>
            </tr>
           
        </table>
        </fieldset>
    </form>
</body>
</html>
